@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "clear";
@import "responsive";
@import "loader";

$red: #ce0c0d;
$white: #f9f5f3;
$orange: #e36212;

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  padding: 0 20px;
  background: $white;
  //sütunların konumunu ve orarnını belirleme
  grid-template-areas: "logo form bookmark";

  // her string bir satırı temsil eder
  // her kelime bir sütunu temsil eder
  // bütün satılarda aynı sayıda kelime olması gerekir
  @include md {
    grid-template-areas: "logo bookmark" "form form";
  }

  .logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    img {
      height: 50px;
      padding-top: 8px;
    }
    .logo-text {
      color: $red;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      margin-left: 10px;
    }
  }

  .form {
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      margin-bottom: 30px;
    }

    form {
      background: white;
      border-radius: 40px;
      display: flex;
      align-items: center;
      overflow: hidden;
      box-shadow: 0 20px 20px -10px rgba(38, 57, 77, 0.3);
      transition: all 0.3s;

      &:focus-within {
        transform: translateY(-4px);
        box-shadow: 0 20px 20px -10px rgb(38, 57, 77);
      }

      input {
        font-size: 19px;
        padding: 8px 16px;

        @include md {
          font-size: 16px;
          padding: 6px 12px;
          max-width: 120px;
        }

        &::placeholder {
          color: #dad0cc;
          font-size: 15px;
        }
      }

      button {
        border-radius: 40px;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
        background: linear-gradient(45deg, $red 30%, $orange 100%);

        &:hover {
          scale: 0.95;
        }
      }
    }
  }

  .bookmark {
    grid-area: bookmark;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;

    button {
      background: $red;
    }
    i {
      font-size: 25px;
      color: white;
    }
  }
}

// ana içerik
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex: 1;
  margin-top: 15px;

  @include lg {
    grid-template-columns: 1fr;
  }
}

section {
  height: 100%;
}

// sonuçlar alanı
main #results {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 107px);
  overflow-y: scroll;
  overflow-x: hidden;

  a {
    background: white;
    border-top: 2px solid #f9f5f3;
    padding: 20px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;

    &:hover {
      transform: translateY(-2px);
      background: #f9f5f3;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    h4 {
      color: $red;
      white-space: wrap;
      font-weight: 600;

      // todo yazılar taşıcak
    }
  }

  &::-webkit-scrollbar {
    background: white;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $red;
  }
}

// recipe details area
main #recipe {
  background: #f9f5f3;
}

#recipe figure {
  height: 300px;
  position: relative;
  background: #a9c9ff;
  z-index: 100;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    opacity: 0.4;
    background-image: linear-gradient(90deg, green 0%, $orange 100%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-family: "ubuntu";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: white;
    font-weight: 600;
    background-image: linear-gradient(90deg, $orange 0%, $red 100%);
    white-space: wrap;
    padding: 10px 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.333);

    @include md {
      white-space: wrap;
    }
  }

  .like-area {
    display: flex;
    justify-content: end;
    padding: 30px;

    i {
      font-size: 26px;
      cursor: pointer;
      padding: 0 4px;
      border-radius: 10px;
      color: $red;
    }
  }
}

// recipe area

#recipe .ing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  margin: 40px 0;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 40px;

    @include md {
      grid-template-columns: 1fr;
    }
    li {
      display: flex;
      gap: 10px;

      i {
        color: $orange;
      }

      p {
        white-space: nowrap;
        max-width: 290px;
        overflow: hidden;
        text-overflow: ellipsis;

        @include sm {
          max-width: 300px;
        }

        @include md {
          max-width: 450px;
        }
      }
    }
  }
}

#recipe .direction {
  text-align: center;
  padding-bottom: 40px;
  h3 {
    font-family: "ubuntu";
    font-size: 30px;
    transform: skewY(-3deg);
    font-weight: 600;
    text-shadow: 0 0 30px $orange;
    color: $orange;
  }

  p {
    padding: 5px;
    margin: 20px 0;
    span {
      color: $orange;
      cursor: pointer;
    }
  }

  a {
    padding: 10px 30px;
    border: 1px solid #e36212;
    border-radius: 30px;
    transition: all 300ms;

    &:hover {
      background: $red;
      color: white;
    }
  }
}

// like area

.bm-area {
  position: relative;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bm-button {
  cursor: pointer;
}

.dropdown {
  display: none;
  font-size: 13px;
  position: absolute;
  overflow: hidden;
  left: -155px;
  z-index: 1;
  min-width: 200px;
  background: $orange;
  border: 2px solid $red;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.207);
}

.dropdown a {
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

// buton hover show dropdown

.bm-area:hover .dropdown {
  display: block;
}

.bm-area:hover button {
  border-radius: 13px 13px 0 0;
}

.dropdown a:hover {
  background: $red;
  color: white;
}

// basket

main #cart {
  div {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    h2 {
      color: $orange;
    }

    button {
      background: $orange;
      color: white;
      font-size: 15px;
      cursor: pointer;
      transition: filter 0.3s;
      &:hover {
        filter: brightness(70%);
      }
    }
  }

  ul {
    max-height: 90vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: $orange;
    }

    i {
      cursor: pointer;
      color: $orange;
      margin: 0 5px;

      &:hover {
        background-color: lightgray;
        border-radius: 50%;
        border-radius: 5px;
      }
    }
  }
}
